.body-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: calc(100vh - 210px);
    width: 100vw;
    background-color: #313431;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(pics/stonewall-bw.jpg);
}

.invoice-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    /* background-color: #313431; */
}

.list-box {
    width: calc(100% - 20px);
    height: 100%;
    background-color: rgb(49, 52, 49, 80%);
    border: solid;
    border-color: #ee7b28;
}

.invoice-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    /* background-color: #313431; */
    margin-left: 1vw;
}

.item-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px;
    background-color: rgb(49, 52, 49, 80%);
    border: solid;
    border-color: #ee7b28;
}

.item-box {
    width: calc(100% - 20px);
    height: 100%;
    background-color: rgb(49, 52, 49, 80%);
    border: solid;
    border-color: #ee7b28;
}

.item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    width: calc(100% - 20px);
    height: 50px;
    margin: 10px;
    background-color: rgb(238, 123, 40, 80%);
}

.invoice-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px;
    background-color: rgb(49, 52, 49, 80%);
    border: solid;
    border-color: #ee7b28;
}

.list-item {
    cursor: pointer;
    /* background-color: #ee7b28; */
}

.i-line-total {
    color: black;
}

.invoice-total {
    justify-content: flex-end;
}

.i-field {
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-radius: 0%;
    border-color: #ee7b28;
    /* height: 100px; */
    width: 80px;
    height: 30px;
    flex: 0 1 auto;
    opacity: 87%;
    font-family: montserrat;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 2px;
    white-space: nowrap;
    border-radius: 2px;
}

.i-column {
    padding-left: 0px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

.name-space {
    width: 300px;
    font-weight: bold;
}

.delete-space {
    opacity: 0%;
}

.i-description {
    width: 300px;
}

.inv-name {
    width: 300px;
    font-weight: bold;
    text-align: center;
}

.inv-name.i-input {
    font-weight: lighter;
    text-align: start;
}

.i-total {
    margin-right: 20px;
    margin-left: 20px;
}

button {
    border-radius: 2px;
    position: relative;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

button:hover {
    background-color: rgb(49, 52, 49, 80%);
}

.i-delete {
    background-image: url(/pics/delete.png);
}

.i-edit {
    background-image: url(/pics/edit.png);
}

.submit {
    box-sizing: border-box;
    background-color: rgb(49, 52, 49, 80%);;
    border: solid;
    border-radius: 2px;
    border-color: #ee7b28;
    height: 30px;
    flex: 0 1 auto;
    opacity: 87%;
    font-family: montserrat;
    font-size: 16px;
    /* padding-top: 5px; */
    padding-left: 2px;
    white-space: nowrap;
    color: white;
}

.submit:hover {
    background-color: #ee7b28;
}

.selected {
    /* background-color: #ee7b28; */
    background-color: rgba(255, 255, 255, .65);
    outline-width: 2px;
    box-shadow: rgba(255, 255, 255, .65) 0px 0px 1px 3px;
}