html {
    /* scroll-snap-type: y mandatory; */
    font-family: sans-serif;
    /* min-width: 320px; */
  }

body {
    margin: 0px;
    background-color: #313431;
    min-width: 320px;
    /* width: 320px; */
}

header {
    position: relative;
    height: 104.5px;
    background-image: linear-gradient(#e0832f,  #f09535, #e0832f, #cd6e29);
    filter: grayscale(10%);
}

footer {
    position: relative;
    height: 104.5px;
}

.logo {
    height: 104.5px;
    width: 202.5px;
}

.card-cont {
    width: 100%
}

.card {   
    height: 700px;
    /* width: 100%; */
    background-color: #313431;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card1 {
    background-image: url(../pics/stonewall-bw.jpg);
    /* background-image: url(/stonewall); */
}

.card2 {
    /* background-image: url(/elevator); */
    background-image: url(../pics/elevator-bw.jpg);
}

.card3 {
    /* background-image: url(/painthole); */
    background-image: url(../pics/paint-hole-window-bw.jpg);
}

.card4{
    /* background-image: url(/studwall); */
    background-image: url(../pics/stud-wall-bw.jpg);
}

.card-content {
    position: relative;
    background-color: #313431;
    border: solid;
    border-color: #ee7b28;
    height: 500px;
    width: 500px;
    left: 10%;
    top: 14%;
    opacity: 87%
    /* margin-left: 125px; */
}

/* .card2 .card-content{
    left: 60%;
    top: 14%
} */

/* .p_contain {
    vertical-align: middle;
    height: 500px;
    width: 500px;
} */


/* Medium screens */
@media all and (max-width: 800px) {
    .card {
        display: flex;
      /* justify-content: center; */
    }
    
    .card-content {
        margin: auto;
        left: auto;
        top: auto;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .card {
        height: 500px;
    }

    .card-content {
        height: 300px;
        width: 300px;
    }
  }
