html {
    /* scroll-snap-type: y mandatory; */
    font-family: sans-serif;
    /* min-width: 320px; */
  }

body {
    margin: 0px;
    background-color: #313431;
    min-width: 320px;
    /* width: 320px; */
}

header {
    position: fixed;
    height: 104.5px;
    width: 100vw;
    background-image: linear-gradient(#e0832f,  #f09535, #e0832f, #cd6e29);
    filter: grayscale(10%);
    z-index: 100;
}

.header {
    position: relative;
    height: 104.5px;
}


footer {
    position: relative;
    height: 104.5px;
}

.logo {
    height: 104.5px;
    width: 202.5px;
}

.card-cont {
    width: 100%
}

.card {   
    height: 700px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;

    background-color: #313431;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card1 {
    background-image: url(pics/stonewall-bw.jpg);
    /* background-image: url(/stonewall); */
}

.card2 {
    /* background-image: url(/elevator); */
    background-image: url(pics/elevator-bw.jpg);
}

.card3 {
    /* background-image: url(/painthole); */
    /* background-image: url(pics/paint-hole-window-bw.jpg); */
}

.card4{
    /* background-image: url(/studwall); */
    background-image: url(pics/stud-wall-bw.jpg);
}

.cc {
    /* position: relative; */
    background-color: #313431;
    border: solid;
    border-color: #ee7b28;
    height: 500px;
    width: 500px;
    flex: 0 1 auto;

    opacity: 87%
    /* margin-left: 125px; */
}

.card1 .cc-2 {
    opacity: 0%;
}

.card2 .cc-1 {
    opacity: 0%;
}

.card3 .cc-1 {
    background-image: url(pics/paint-hole-window-bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.card3 .cc-3 {
    height: 100px;
    /* flex-grow: 1; */
    width: 90vw;
    align-self: flex-end;
}


/* Medium screens */
@media all and (max-width: 1100px) {
    .card {
        /* display: flex; */
        flex-wrap: nowrap;
        flex-direction: column;
      /* justify-content: center; */
    }
    
    .cc {
        margin: auto;
        left: auto;
        top: auto;
    }

    .card1 .cc-2 {
        display: none;
    }
    
    .card2 .cc-1 {
        display: none;
    }

    .card3 .cc-2 {
        display: none;
    }

    .card3 .cc-3 {
        /* opacity: 0%; */
        width: 500px;
    }

  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .card {
        height: 500px;
    }

    .cc {
        height: 300px;
        width: 300px;
    }

    .card3 .cc-3 {
        height: 100px;
        width: 300px;
    }

    /* .card3 .cc-3 {
        height: 100px;
        width: 300px;
    } */
    
  }
