html {
    /* scroll-snap-type: y mandatory; */
    font-family: sans-serif;
    /* min-width: 320px; */
  }

body {
    margin: 0px;
    background-color: #313431;
    min-width: 320px;
    font-family: montserrat;
    color: white;
    /* width: 320px; */
}

header {
    position: fixed;
    height: 104.5px;
    width: 100vw;
    background-image: linear-gradient(#e0832f,  #f09535, #e0832f, #cd6e29);
    filter: grayscale(10%);
    z-index: 100;
}

p {
    font-size: 24px;
    margin: 0px 20px;
}

h1 {
    font-size: 48px;
    margin: 0px 20px;
}

footer {
    position: relative;
    height: 104.5px;
}

.header {
    position: relative;
    height: 104.5px;
}

.logo {
    height: 104.5px;
    width: 202.5px;
}

.card-cont {
    width: 100%
}

.card {   
    /* height: 75vh; */
    height: 700px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;

    background-color: #313431;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card1 {
    background-image: url(pics/stonewall-bw.jpg);
    /* background-image: url(/stonewall); */
}

.card2 {
    /* background-image: url(/elevator); */
    background-image: url(pics/elevator-bw.jpg);
}

.card3 {
    /* background-image: url(/painthole); */
    /* background-image: url(pics/paint-hole-window-bw.jpg); */
}

.card4{
    /* background-image: url(/studwall); */
    background-image: url(pics/stud-wall-bw.jpg);
}

.cc {
    background-color: #313431;
    border: solid;
    border-color: #ee7b28;
    height: 500px;
    width: 500px;
    flex: 0 1 auto;
    opacity: 87%;

    /* height: 0;
    width: 35%;
    padding-bottom: 35% */
    
}

.card1 .cc-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.card1 .cc-2 {
    opacity: 0%;
}

.card2 .cc-1 {
    opacity: 0%;
}

.card2 .cc-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.card3 .cc-1 {
    background-image: url(pics/paint-hole-window-bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.card3 .cc-2 {
    opacity: 100%;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fun-fact {
    background-color: #313431;
    border: solid;
    border-color: #ee7b28;
    height: 100px;
    width: 100%;
    flex: 0 1 auto;
    opacity: 87%;  

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.card3 .cc-3 {
    height: 100px;
    opacity: 100%;
    width: 90vw;
    border: none;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
}

.project-box {
    background-color: #313431;
    border: solid;
    border-color: #ee7b28;
    height: 100px;
    width: 100px;
    flex: 0 1 auto;
    opacity: 87%;

    display: flex;
    align-items: center;
}

.pb-text {
    margin: 0px;
    text-align: center;
    /* font-size: 24px; */
}

.card4 .cc-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

.qb-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.quote-box {
    background-color: white;
    border: none;
    border-radius: 0%;
    border-color: #ee7b28;
    /* height: 100px; */
    width: 300px;
    height: 30px;
    flex: 0 1 auto;
    opacity: 87%;
    font-family: montserrat;
    font-size: 16px;
}

.quote-box:focus {
    border-radius: 0%;
    outline: none;
}

.qb-4 {
    height: 100px;
    text-align: start;
}


/* Medium screens */
@media all and (max-width: 1100px) {
    .card {
        /* flex-wrap: nowrap; */
        flex-direction: column;
      /* justify-content: center; */
    }

    .card1 .cc-2 {
        display: none;
    }
    
    .card2 .cc-1 {
        display: none;
    }

    .card3 .cc-2 {
        display: none;
    }

    .card3 .cc-3 {
        /* opacity: 0%; */
        width: 500px;
    }

  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    p {
        font-size: 16px;
        margin: 0px 20px;
    }
    
    h1 {
        font-size: 24px;
        margin: 0px 20px;
    }

    .card {
        height: 500px;
    }

    .cc {
        height: 300px;
        width: 300px;
    }

    .card3 .cc-3 {
        height: 100px;
        width: 300px;
    }

    .project-box {
        width: 50px;
        height: 50px;
    }

    .pb-text {
        font-size: 12px;
    }

    .quote-box {
        width: 250px;
    }
    
  }
